body {
    background-color: rgb(206, 169, 240);
}
.main_section{
    display: flex;
    flex-direction: column;

}
.main_section_title{
  color:aliceblue;
  display: flex;
  justify-content: center;
  width:100%;
  font-size:xx-large;
}
.main_section_buttons{
    width:100%;
    display: flex;
    justify-content: center;
    gap:2%;
}
.main_section_buttons button{
    padding: 1%;
    background-color: pink;
    border-radius: 10px;
    border-style: groove;
    border-color:aliceblue;
    color:white;
    width:20%;
    font-weight: 500;
}
.main_section_buttons button:hover{
    background-color: rgb(239, 164, 177);
}
.main_section_bordgame{
    padding:2%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.main_section_bordgame_case{
    height: 25px;
    width: 25px ;
    /* background-color: red; */
    background-color: rgb(206, 169, 240);
    border-width: 1.5px;
    border-style: solid;
    border-color: rgb(224, 240, 255);
    text-align: center;
}

.main_section_role{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
.main_section_role_determinator{
    width:15%;
    padding: 1%;
    background-color: rgb(224, 240, 255);
    border-radius: 6px;
    text-align: center;
}
.player {
    font-weight:bold;
    color:pink;
    background: 'red';
}
.main_section_role_determinator {
    font-weight:bold;
}
.main_section_role :hover{
    background-color: pink;
    color: rgb(224, 240, 255);
}






